.itemTotal {
  margin-top: 10px;
  text-align: center;
}
.DisplayTotal {
  display: flex;
  align-items: center;
  margin-left: 5.3rem;
  font-size: 20px;
}
.displyTotals {
  background-color: #fcba81;
  border-radius: 5px;
  height: 3rem;
  border: none;
  outline: none;
  width: 180px;
  font-size: 22px;
  text-align: right;
  padding-right: 16px;
}
.oder {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 90%;
  height: 3rem;
  background-color: #101010;
  color: white;
  margin-top: 10px;
}
.oder:hover {
  background-color: #181818;
  cursor: pointer;
}
.tableAlign {
  display: flex;
  align-items: center;
  text-align: center;
}
.Totalcolour{
  color: black;
  font-size: 1.2rem;
  margin-top: -2px;
}